<?xml version="1.0"?>
<config>
    <modules>
        <Meetanshi_Whatsapp>
            <version>1.0.0</version>
        </Meetanshi_Whatsapp>
    </modules>
    <frontend>
        <routers>
            <whatsapp>
                <use>standard</use>
                <args>
                    <module>Meetanshi_Whatsapp</module>
                    <frontName>whatsapp</frontName>
                </args>
            </whatsapp>
        </routers>
        <layout>
            <updates>
                <whatsapp>
                    <file>whatsapp.xml</file>
                </whatsapp>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <whatsapp>
                <class>Meetanshi_Whatsapp_Block</class>
            </whatsapp>
        </blocks>
        <helpers>
            <whatsapp>
                <class>Meetanshi_Whatsapp_Helper</class>
            </whatsapp>
        </helpers>
        <models>
            <whatsapp>
                <class>Meetanshi_Whatsapp_Model</class>
            </whatsapp>
        </models>
        <resources>
            <add_category_product_attribute>
                <setup>
                    <module>Meetanshi_Whatsapp</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </add_category_product_attribute>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <whatsapp after="Mage_Adminhtml">Meetanshi_Whatsapp_Adminhtml</whatsapp>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <whatsappshare>
                                            <title>Whatsapp Share</title>
                                        </whatsappshare>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <whatsappshare>
            <whatsappconfig>
                <whatsapp_enable>0</whatsapp_enable>
                <category_wise>0</category_wise>
            </whatsappconfig>
            <sharingoption>
                <custom_mesaage>Hey, Check this product I liked!</custom_mesaage>
                <productname_enable>0</productname_enable>
                <productdescription_enable>0</productdescription_enable>
                <productprice_enable>0</productprice_enable>
                <deal_on>0</deal_on>
                <specialprice_message>Buy this for {{special price}}</specialprice_message>
                <discount_message>Use code MEETANSHI123 to get 10% discount on purchase.</discount_message>
            </sharingoption>
            <utmtracking>
                <utmtracking_enable>0</utmtracking_enable>
            </utmtracking>
            <googleshorturl>
                <googleshorturl_enable>0</googleshorturl_enable>
            </googleshorturl>
        </whatsappshare>
    </default>
</config>